body {
    font-size: 50px;
}

p {
    color:aqua;
}

#first {
    color:coral;
    /* margin: 20px; отсутупы
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px; */

    /* margin: 20px 20px 20px 20px; указывается значения для
    всех 4 сторон */

    /* margin: 20px 20px; попарно для верха и низа, для левой и правой
    стороны */

    /* width: 50px; или 50%
    margin: 20px auto; auto для автоматического подбора по ширине */

    /* padding: 20px 20px 20px 20px; отступы с внутренней стороны элемента
    width: 50px; */

    /* position: relative; относительная позиция, можно применять, если необоходима прописывать
    отступы не сдвигая другие элементы(относительно исходного места) */

    /* position: absolute; элемент располагается относительно левой верхней точки ближайшего предка */

    /* position: fixed; элемент будет зафиксирован на одном месте даже при скроле страницы */

}

.class { /* только к классу */
    font-size: 50px; /* размер шрифта */
    font-family: Arial, Helvetica, sans-serif; /* шрифт для текста */
}

.class * { /* ко всем элементам класса */
    font-size: 20px;
    /* float: right; установка элемента в указанном направлении */
}

ul li { /* обращение к потомку ul, то есть к li */
    border: 2px;
}

h1 + p {/* примнение только к 'p', который стоит сразу после h1 */
    border: 1px;
}

a[href='any'] { /*по атрибуту*/
    color:blue;
}

ul li:nth-of-type(2) {
    background-color: brown;
}

